.display {
  grid-column: center-start/center-end;
  grid-row: 1;
  height: 100%;
  border-top: 0.5rem solid #7433f1;
  border-left: 0.5rem solid #7433f1;
  border-right: 0.5rem solid #7433f1;
  justify-items: center;
  overflow: hidden;

  &__home {
    grid-row: 1 / span 2;
    border-bottom: 0.5rem solid #7433f1;
  }
}

.react-html5-camera-photo {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  position: relative;
  text-align: center;
  height: 82.5%;
  overflow: hidden;
}

#container-circles {
  bottom: 40%;
}
