.left-navbar{
  background: #7938e8;
  width: 20vw;
  color: #FFF;
  height: 100vh;
}

.left-navbar-title{
  padding: 0.75rem;
  color: white;
}

.left-navbar-title-icon{
  width: 2.625rem;
  display: inline-flex;
  vertical-align: middle;
}