.add-product-container{
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
}

.add-product-content{
  display: flex;
  flex-direction: row;
}

.add-product-form{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-right: 1rem;
}

.input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
}

.input-box{
  border-radius: 0.25rem;
  line-height: 1.25rem;
}

.add-product-button{
  line-height: 1.5rem;
  margin: 0.25rem;
  width: 8rem;
  border-radius: 0.25rem;
  background: #7938e8;
  color: white;
  font-weight: 500;
}

.product-summary{
  padding: 1rem;
  border: 2px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.5rem;
  width: 25rem;
}

.product-info-header{
  margin: 0;
}
