.orders-content{
  display: flex;
  flex-direction: row;
}

.order-details{
  border: 2px solid #f2f2f2;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 40%;
  padding: 1rem;
  line-height: 0;
  border-radius: 0.5rem;
  height: 100%;
}

.table-orders{
  width: 50%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  border: 2pt #f2f2f2 solid;
  border-radius: 0.5rem;
}

th{
  padding: 0.25rem;
  border-right: 1pt #f2f2f2 solid;
  background: #f2f2f2;
}

tr:hover{
  cursor: pointer;
}

tr:nth-child(even){
  background: #f2f2f2;
}

table.table-orders tr:hover td{
  background: #d6cfe2;
}

table.table-orders td{
  padding: 0.25rem;
  border-right: 1pt #f2f2f2 solid;
  text-align: center;
  border-radius: 0.20rem;
}

.last{
  padding: 0.25rem;
  border-right: none;
  text-align: center;
}

.order-info-button{
  line-height: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  width: 8rem;
  border-radius: 0.25rem;
  background: #7938e8;
  color: white;
  font-weight: 500;
}
